@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-custom-darkblue:#0061FF;
  --color-custom-mediumblue:#3186FF;
  --color-custom-lightblue:#4FA0FF;
  --color-custom-green:#3FFF74;
  --color-custom-yellow:#E3F428;
  --color-custom-orange:#FF8645;
  --color-custom-black:#222222;
  --color-custom-textgray:#666666;
  --breakpoint-sm: 280px;
  --breakpoint-md: 760px;
  --breakpoint-lg: 1024px;
  --breakpoint-xlg: 1280px;
  --breakpoint-xl: 1440px;
  --breakpoint-xxl: 1980px;
  --breakpoint-xxxl: 2480px;
  --inset-shadow-custom-light: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
  --inset-shadow-custom-dark: rgba(0, 0, 0, 0.35) 0px 2px 7px;

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* button hover */

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 1rem;
    border-radius: 6px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(90deg, #0061ff, #4fa0ff);
    border: none;
    cursor: pointer;
    overflow: hidden;
    height: 3rem;
  }

  /* === Cursor-following radial glow === */
  .btn::before {
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(
      circle 50px at var(--x, 50%) var(--y, 50%),
      rgba(255, 255, 255, 0.35),
      rgba(255, 255, 255, 0) 70%
    );
    opacity: var(--o, 0);
    transition:
      background-position 0.25s ease,
      opacity 0.6s ease;
    pointer-events: none;
    mix-blend-mode: lighten;
  }



  /* === Outline Button === */
  .btn-outline {
    background: transparent;
    color: #4fa0ff;
    border: 2px solid #4fa0ff;
    border-radius: 6px;
    padding: 12px 26px;
    font-weight: 700;
    transition: background 0.3s ease, color 0.3s ease;
    cursor: pointer;
  }

  .btn-outline:hover {
    background: rgba(79, 160, 255, 0.1);
  }

/* client scroll */

 

